---
import ContactLayout from '../layouts/ContactLayout.astro'

import Counter from '../components/Counter.astro'
import CallToAction from '../components/CallToAction.astro'

import {
  Accordion,
  AccordionItem,
  Breadcrumbs,
  BreadcrumbsItem,
  Card,
  Media,
  Modal,
  Notification,
  Pagination,
} from 'accessible-astro-components'

//import ContactForm from '../components/ContactForm.vue';
import ContactForm from '../components/ContactForm.astro'
const contactImage = '/images/john-allen-cover.jpg'
---

<ContactLayout title="Send a Message" cta={false}>
  <section class="my-12">
    <div class="w-full p-4 text-center">
      <h1>Send Me a Message</h1>
    </div>

    <div class="container">
      <div class="md:flex flex-column md:flex-nowrap gap-12 md:flex-row">
        <div class="mx-auto my-8 w-full max-w-[480px]">
          <ContactForm postUrl="https://localhost:4321" buttonText="Get in touch!" />
        </div>
        <div class="w-full space-between mx-auto my-8 max-w-[500px]">
          <div style=`background-image: url(${contactImage})` class="contact-image my-4 w-10"></div>
          <p class="my-4">
            Delighted you dropped by my website! I'm looking forward to reading your message and will get back to you as
            soon as possible.
          </p>
          <p>
            Interested in a collaboration? Don't forget to add all relevant details and your contact information to your message. Thanks!
          </p>
        </div>
      </div>
    </div>
  </section>

  {
    /* Saving this for later
<section class="mt-64 mb-32">
  <div class="container">
    <h2 class="mb-16 text-6xl">Impressive Stats</h2>
    <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
      <Counter count="130" title="Stars" sub="On GitHub" />
      <Counter count="17" title="Accessible" sub="Components" />
      <Counter count="500" title="Commits" sub="Merged" />
      <Counter count="18+" title="Months" sub="Since launch" />
    </div>
  </div>
</section>
  */
  }
</ContactLayout>

<style lang="scss">
  .contact-image {
    width: 100%;
    height: 300px;
    background: var(--secondary-100) no-repeat center center;
    background-size: cover;
    //display: block;
    margin: 20px auto;
    border-radius: 10px;
  }
</style>

{
  /*
  <section class="mb-12 mt-32">
    <div class="container">
      <div class="grid grid-cols-1 gap-32 md:grid-cols-2">
        <div class="space-content">
          <h2>Accordion</h2>
          <Accordion>
            <AccordionItem header="First Item">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quasi nobis optio? Qui in quo
                accusantium debitis sapiente obcaecati magnam incidunt sit. Molestiae exercitationem quibusdam quod
                veritatis laboriosam est tenetur.
              </p>
              <a href="#">Tab to me!</a>
            </AccordionItem>
            <AccordionItem header="Second Item">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quasi nobis optio? Qui in quo
                accusantium debitis sapiente obcaecati magnam incidunt sit. Molestiae exercitationem quibusdam quod
                veritatis laboriosam est tenetur.
              </p>
            </AccordionItem>
            <AccordionItem header="Third Item">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quasi nobis optio? Qui in quo
                accusantium debitis sapiente obcaecati magnam incidunt sit. Molestiae exercitationem quibusdam quod
                veritatis laboriosam est tenetur.
              </p>
            </AccordionItem>
            <AccordionItem header="Fourth Item">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quasi nobis optio? Qui in quo
                accusantium debitis sapiente obcaecati magnam incidunt sit. Molestiae exercitationem quibusdam quod
                veritatis laboriosam est tenetur.
              </p>
            </AccordionItem>
            <AccordionItem header="Fifth Item">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quasi nobis optio? Qui in quo
                accusantium debitis sapiente obcaecati magnam incidunt sit. Molestiae exercitationem quibusdam quod
                veritatis laboriosam est tenetur.
              </p>
            </AccordionItem>
          </Accordion>
        </div>
        <div class="space-content">
          <h2>Breadcrumbs</h2>
          <Breadcrumbs>
            <BreadcrumbsItem href="/" label="Home" />
            <BreadcrumbsItem href="/blog" label="Blog" />
            <BreadcrumbsItem currentPage={true} label="My blog post" />
          </Breadcrumbs>
        </div>
        <div class="space-content">
          <h2>Cards</h2>
          <Card
            img="https://images.unsplash.com/photo-1636819488524-1f019c4e1c44?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=80"
          />
        </div>
        <div class="space-content">
          <h2>DarkMode Toggle</h2>
          <p>This component can be viewed in the top right corner besides the main navigation.</p>
        </div>
        <div class="space-content">
          <h2>Media</h2>
          <Media
            class="rounded-lg"
            src="https://images.unsplash.com/photo-1636819488537-a9b1ffb315ce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=80"
          />
        </div>

        <div class="space-content">
          <h2>Notification</h2>
          <Notification>
            
          </Notification>
          <Notification type="info">
            
              <strong>Info:</strong> This is a notification of type info.
            </p>
          </Notification>
          <Notification type="success">
            
              <strong>Success:</strong> This is a notification of type success.
            </p>
          </Notification>
          <Notification type="warning">
            
              <strong>Warning:</strong> This is a notification of type warning and goes on multiple lines to see how that
              looks.
            </p>
          </Notification>
          <Notification type="error">
            
              <strong>Error:</strong> This is a notification of type error.
            </p>
          </Notification>
        </div>
        <div class="space-content">
          <h2>Pagination</h2>
          <Pagination totalPages="200" />
        </div>
         
        <div class="container">
          <h2>Modals</h2>
          <button id="modal1-trigger" class="button">Modal 1</button>&nbsp;
          <button id="modal2-trigger" class="button color-secondary">Modal 2</button>
          <Modal triggerId="modal1-trigger" title="Modal 1">
            <p>Why hello, I be the <strong>first</strong> Modal.</p>
          </Modal>
          <Modal triggerId="modal2-trigger" title="Modal 2" closeText="Cancel">
            <p>
              Ah yes, and I be the <strong>second</strong> Modal. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Sed, a! Ratione eaque temporibus alias tempora pariatur dolorem.
            </p>
            <button class="button" onclick="closeModal()">Confirm action</button>
          </Modal>
        </div>
        */
}
