---
import ContactLayout from '../layouts/ContactLayout.astro'
---

<ContactLayout title="Success! Thank You">
  <section class="my-12">
    <div class="container">
      <h1>Thank You!</h1>
    </div>
  </section>
  <section class="my-12">
    <div class="space-content container">
      <p class="text-2xl">Your message was received successfully.</p>
      <a class="button" href="/">Click here to return to the homepage.</a>
    </div>
  </section>
</ContactLayout>

<style>
  .button {
    color: #fff;
  }
</style>
