---
const { postUrl = '', buttonText = 'Contact Me' } = Astro.props

---

    {/* Form Redirect: 
      action="/pages/success
     */}

      <form method="POST" class="contact-form" id="contact-form" data-netlify="true" name="contact">
        <div class="mb-5">
          <label
            for="name"
            class="mb-3 block text-base font-medium text-[#07074D]"
          >
            Full Name
          </label>
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Full Name"
            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium outline-none focus:border-[#6A64F1] focus:shadow-md"
            
          />
        </div>
        <div class="mb-5">
          <label
            for="email"
            class="mb-3 block text-base font-medium text-[#07074D]"
          >
            Email Address
          </label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="example@domain.com"
            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium outline-none focus:border-[#6A64F1] focus:shadow-md"
            
            
          />
        </div>
        <div class="mb-5">
          <label
            for="subject"
            class="mb-3 block text-base font-medium text-[#07074D]"
          >
            Subject
          </label>
          <input
            type="text"
            name="subject"
            id="subject"
            placeholder="Enter your subject"
            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium outline-none focus:border-[#6A64F1] focus:shadow-md"
          />
        </div>
        <div class="mb-5">
          <label
            for="message"
            class="mb-3 block text-base font-medium text-[#07074D]"
          >
            Message
          </label>
          <textarea
            rows="4"
            name="message"
            id="message"
            placeholder="Enter your message"
            class="w-full resize-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium outline-none focus:border-[#6A64F1] focus:shadow-md"
          ></textarea>
        </div>
        <div>
          <button
            class="contact-form__button transition-all hover:shadow-form rounded-md bg-[#223843] hover:bg-[#D77A61] py-3 px-8 text-base font-semibold text-white outline-none border-none"
          >
            {buttonText}
          </button>
        </div>
      </form>


<script>
import JustValidate from 'just-validate';
const forms = document.querySelectorAll('.contact-form');

forms.forEach(form => {

  let validate = new JustValidate('.contact-form');      
  validate.addField(
    '#name',
    [
      {
        rule: 'required',
      },
    ],
    {
      //errorsContainer: '.errors',
    }
  ).addField(
    '#email',
    [
      {
        rule: 'required',
      },
      {
        rule: 'email',
      },
    ],
    {
      //errorsContainer: '.errors',
    }
  );

});


function validate(e){
    e.preventDefault();
    console.log('form submit thwarted')
    
}


</script>
<script is:inline>
document.getElementById('contact-form').onsubmit = validate;
  
</script>


  <style lang="scss">

    :global(.just-validate-error-label) {
      border: 1px solid red;
      background: #e7b2b2;
      color: red;
      font-weight: bold;
      margin-top: 4px;
      font-size: 12px;
      padding: 4px;
      line-height: 1;
    }

    :global(.darkmode .contact-form__button) {
      background: var(--secondary-300);
      color: var(--neutral-100);
      margin: 0;
      border: 1px solid transparent !important;
      &:hover {
        color: var(--neutral-100);
        background: var(--primary-300);
      }
    }

    :global(.modal__content) .contact-form label {
      color: var(--neutral-900) !important;
    }

    .contact-form label, .contact-form input {
      color: var(--neutral-900);
    }

    :global(.darkmode .contact-form label) {
      color: var(--neutral-100) !important;
    }

    :global(.darkmode .contact-form input) {
      color: var(--neutral-900) !important;
    }
  </style>