---
import CallToAction from './CallToAction.astro'
import Navigation from './Navigation.astro'
import { Icon } from 'astro-icon/components'
const currentYear = new Date().getFullYear()
const { cta = 'true' } = Astro.props
---

<footer>
  {cta ? <CallToAction /> : ''}

  <section class="py-8">
    <div class="container">
      <p class="footer-copyright">
        &copy; {currentYear} - John Allen | Built with
        <a href="https://astro.build/"> <Icon name="simple-icons:astro" /></a>
      </p>
    </div>
  </section>
</footer>

<style lang="scss" is:global>
  @use '../assets/scss/base/outline' as *;

  .type-icon a {
    display: block;
  }

  .footer-copyright {
    font-size: 14px;
    //font-weight: bold;
    //text-transform: uppercase;
    font-color: #aaa;

    [data-icon] {
      display: inline-block;

      font-size: 1.5rem;
      right: -5px;
      position: relative;

      path {
        fill: var(--action-color);
        transition: fill 0.2s ease-in-out;
      }

      &:hover path {
        fill: var(--main-400);
      }
    }
  }
</style>
