---
import { Icon } from 'astro-icon/components'

const { src = '../../images/john-allen-web-developer-united-states.png' } = Astro.props

function getGreetingBasedOnTime() {
  let currentHour = new Date().getHours()
  let greeting

  if (currentHour < 12) {
    greeting = 'Good Morning'
  } else if (currentHour < 18) {
    greeting = 'Good Afternoon'
  } else {
    greeting = 'Good Evening'
  }

  return greeting
}

import ContactForm from './ContactForm.astro'
---

<section class="hero my-12">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1 class="lg:text-5x1 text-left text-4xl">
          <slot
            >{getGreetingBasedOnTime}! <br />
            I develop websites & business solutions for great clients.</slot
          >
        </h1>
        <p class="text-3x1">(I'm a Sr. Full Stack Developer in Birmingham, AL.)</p>
        <div class="flex flex-col gap-3 min-[500px]:flex-row">
          <a class="button has-icon color-neutral" href="/blog">
            <Icon name="fluent:news-16-regular" class="" />
            Blog
          </a>
          <a href="/contact" class="button has-icon color-primary">
            <Icon name="fluent:contact-card-48-regular" />
            Contact
          </a>
        </div>
      </div>
      <div class="image-frame">
        <img class="hidden lg:block" src={src} alt="" decoding="async" />
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .text-gradient {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-500));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .image-frame {
    border: 8px solid var(--primary-400);
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);
    img {
      margin: 0;
      padding: 0;
      display: block;
    }
  }

  :global(.darkmode .image-frame) {
    border: 8px solid var(--primary-100);
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-400));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
