---
import { Icon } from 'astro-icon/components'

//const { src = '../../images/john-allen-web-developer-united-states.png' } = Astro.props

function getGreetingBasedOnTime() {
  let currentHour = new Date().getHours()
  let greeting

  if (currentHour < 12) {
    greeting = 'Good Morning'
  } else if (currentHour < 18) {
    greeting = 'Good Afternoon'
  } else {
    greeting = 'Good Evening'
  }

  return greeting
}

import ContactForm from './ContactForm.astro'

  
const cubismImage1 = '/images/cubism/john-allen-cubism-1.png';
const cubismImage2 = '/images/cubism/john-allen-cubism-2.png';
const cubismImage3 = '/images/cubism/john-allen-cubism-4.png';
const cubismImage4 = '/images/cubism/john-allen-cubism-5.png';
const cubismImage5 = '/images/cubism/john-allen-cubism-6.webp';

const dataSources = [
  cubismImage1,
  cubismImage2,
  cubismImage3,
  cubismImage4,
  cubismImage5,
];


// Generate a random index to select a data attribute source
const randomIndex = Math.floor(Math.random() * dataSources.length);

// Set the data attribute on the target element

const src = dataSources[randomIndex];


---

<section class="hero my-6 md:my-12">
  <div class="container max-w-screen-md">
    <div class="grid grid-cols-1 items-center gap-12 md:gap-24 lg:grid-cols-2 max-w-[700px] lg:max-w-none mx-auto">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1 class="lg:text-5x1 text-left text-2xl md:text-4xl">
          <slot
            >{getGreetingBasedOnTime}! <br />
            I develop websites & business solutions for great clients.</slot
          >
        </h1>
        <p class="text-3x1">(I'm a Sr. Full Stack Developer in Birmingham, AL.)</p>
        <div class="flex flex-col gap-3 min-[500px]:flex-row">
          <a class="button has-icon color-neutral" href="/blog">
            <Icon name="fluent:news-16-regular" class="" />
            Blog
          </a>
          <a href="/contact" class="button has-icon color-primary">
            <Icon name="fluent:contact-card-48-regular" />
            Contact
          </a>
        </div>
      </div>
      <div class="image-frame">
        <img class="hidden lg:block" src={src} alt="random image of john allen web developer and writer" decoding="async" id="random-image"/>
      </div>
    </div>
  </div>
</section>

<script>
  
const cubismImage1 = '/images/cubism/john-allen-cubism-1.png';
const cubismImage2 = '/images/cubism/john-allen-cubism-2.png';
const cubismImage3 = '/images/cubism/john-allen-cubism-4.png';
const cubismImage4 = '/images/cubism/john-allen-cubism-5.png';
const cubismImage5 = '/images/cubism/john-allen-cubism-6.webp';

const dataSources = [
  cubismImage1,
  cubismImage2,
  cubismImage3,
  cubismImage4,
  cubismImage5,
];

// Get a reference to the element you want to set the data attribute on
const targetElement = document.getElementById('random-image');

// Generate a random index to select a data attribute source
const randomIndex = Math.floor(Math.random() * dataSources.length);

// Set the data attribute on the target element
if (targetElement) {
  targetElement.setAttribute('src', dataSources[randomIndex]);
}

</script>

<style lang="scss">
  .text-gradient {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-500));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .image-frame {
    max-width: 700px;
    border: 8px solid var(--primary-100);
    //box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);
    width: fit-content;
    filter: grayscale(0.5);
    margin: 0 auto;
    img {
      margin: 0;
      padding: 0;
      display: block;
    }
  }

  :global(.darkmode .image-frame) {
    border: 8px solid var(--primary-100);
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-400));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
